<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="shortcut icon" href="">	
    <title>Chatbot Application</title> <!-- Added title -->

</head>
<body>
    <h1 class="chat-title">PDFチャット</h1>
    <div class="chat-container">
        <div class="messages" id="messages">
            <!-- Chat messages will be dynamically added here -->
        </div>
    </div>

    <div class="pdf-info">
        <input type="file" id="fileInput" accept=".pdf">
        <label id="fileInputLabel">PDFファイル選択</label>
        <span id="pdfFileName"></span>
    </div>
    <div class="input-container">
        <input type="text" id="userInput" placeholder="メッセージ...">
        <button id="sendMessage">送信</button>
        <button id="clearMessages" class="ripple-button" >メッセージをクリア</button>
        <button id="clearPDFInfo" class="ripple-button" >全てクリア</button>
    </div>

    <script src="{{ url_for('static', filename='script.min.js') }}"></script>
</body>
</html>
